body {
    color: mediumpurple;
}
#title h1, h3{
    color: purple;
    text-align: center;
    font-weight: bold;
    padding:50px 0 50px 0;
}
#addMealForm{
    text-align: left;
}
#button {
    text-align: center;
}
.cancel {
    background-color: orange;
    color: black;
    font-weight: bold;
}
.save {
    background-color: purple;
    color: white;
    font-weight: bold;
}