.home_nav {
	height: 45px;
	border-left: 30px solid #4d1e89;
	border-radius: 100px;
	background: #caacef;
	font-size: 20px;
	font-family: bold;
	text-align: left;
	
}

img {
    display: block;
    margin: auto;
}

.glyphicon {
	font-size: 20px;
	color: #4d1e89;
}

.glyphicon-star-empty {
	font-size: 25px;
}

.home_button {
	color: black;
}