body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.img1 {
  background-image: url("../img/food.jpg");
  min-height: 300px;
}

.img2 {
  background-image: url("../img/wnwn.png");
  min-height: 400px;
}

.img3 {
  background-image: url("../img/food.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  font-size: 3vw;
  letter-spacing: 10px;
  vertical-align: middle;
}

h3 {
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
  text-align: center;
}

.description{
    color: #777;
    background-color:white;
    text-align:center;
    text-align: justify;
    text-align:center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .img1, .img2, .img3 {
        background-attachment: scroll;
    }
}

/*.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: transparent;
}*/
*/
/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    /*border: 1px solid #888;*/
    width: 100%;
    height:100%;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: transparent;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /*color: #000;*/
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: black;
}

.modal-body {
    background-color: transparent; 
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    /*color: white;*/
}

.pizza {
  background: url(../img/pizza.gif);
  background-repeat: repeat;
  width: 100%;
  height: 650px;
  position: absolute;
  left: 0;
  top: 0;
  animation: animateOne 10s infinite linear;
}
