.img {
	display: block;
	text-align: center;
	vertical-align: middle;
}
.left {
	text-align: left;
}

.right {
	text-align: right;
}

.under{
	font-weight: underline;
}

.center {
	text-align: center;
}

.btn-xl {

	margin: auto;
	font-weight: bold;
    width: 100%;
	background-color: #bf80ff;
    border-radius: 10px;
}


.logo {
	height: 100%;
	width: 15%;
	vertical-align: bottom;
}

.icon {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

table, th, td {
	text-align: center; 
}

.title {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
	color: #470daa;
	text-align: center;
}

.foodnotes{
	width: 100%;
}

