.img {
	display: block;
	text-align: center;
}
.left {
	text-align: left;
}

.right {
	text-align: right;
}

.under{
	font-weight: underline;
}

.center {
	text-align: center;
}

.btn-xl {

	margin: auto;
	font-weight: bold;
    width: 100%;
	background-color: #bf80ff;
    border-radius: 10px;
}


.logo {
	height: 100%;
	width: 15%;
	vertical-align: bottom;
}

.icon {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

table, th, td {
	text-align: center; 
}

.title {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
	color: #470daa;
	text-align: center;
}

.foodnotes{
	width: 100%;
}

/* Button */
#cancel button{
    background: orange;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#save button{
    background: #bf80ff;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#delete button{
    background: #b30000;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#calender {
    text-align: left;
    padding-left: 30px;
}
/* Planner.html */
#mainForm{
    text-align: center;
    font-weight: bold;
    color: #470daa;
}

/* editMeal.html, addMeal.html */
#editMealForm, #addMealForm, #achievementForm{
    text-align:left;
    font-weight: bold;
    color: #470daa;
}

#mealPD {
    border-radius: 5px;
    border-color:  #470daa;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}


.label {
    font-weight: bold;
    color: #470daa;
}

/*home page css */

.home_nav {
    height: 45px;
    border-left: 30px solid #4d1e89;
    border-radius: 100px;
    background: #caacef;
    font-size: 20px;
    font-family: bold;
    text-align: left;
    
}

.home_img {
    display: block;
    margin: auto;
}

.home_glyphicon {
    font-size: 20px;
    color: #4d1e89;
}

.glyphicon-star-empty {
    font-size: 25px;
}

.home_button {
    color: black;
}

.home_esterEgg1 {
    position: fixed;
    bottom: 0px;
    left: 0px;
}



/* add meal style */

.addMeal_body {
    color: mediumpurple;
}
.addMeal_heading{
    color: purple;
    text-align: center;
    font-weight: bold;
    padding:50px 0 50px 0;
}
#addMealForm{
    text-align: left;
}

.addMeal_cancel {
    background-color: orange;
    color: black;
    font-weight: bold;
}
.addMeal_save {
    background-color: purple;
    color: white;
    font-weight: bold;
}

.panel-default>.panel-heading {
    background-color: #d699ff;
}